@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');

.landingNav {
    display: flex;
    justify-content: space-between;
  }
  
  .landingUl {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
  }
  
  .LandList {
    font-family: 'Poppins', sans-serif;
    color : white;
    text-decoration: none;
  }
  .LandList1 {
    font-family: 'Poppins', sans-serif;
    color : white;
    text-decoration: none;
    font-size: 22px;
  }
  .vs
  {
    background-color: black;
    width: 100vw;
  }

  .logoLand {
    width: 130px;
    height: 80px;
  }
  .person{
    margin-top: 5px;
    margin-right: 4px;
  }